body {

    background: #ffb830;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: #fff;
}

header {
  text-align: right;
  padding: 10px;
  background:darkorange;

}
a {
    color: #fff;
}

